border-1px($color){
  position: relative;
  &:after{
    content:'';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid $color;
  } 
}
border-none(){
  &:after{
    display: none;
  }
}
bg-image($url){
	background-image:url($url+'@2x.png');
	@media (-weikit-min-device-pixel-ratio:3),(-weikit-min-device-pixel-ratio:3){
		background-image:url($url+'@3x.png');
	}
}